<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>dim3 Editor</string>
	<key>CFBundleGetInfoString</key>
	<string>dim3 Editor version 3.0, ©2001-2009 Klink! Software</string>
	<key>CFBundleIconFile</key>
	<string>dim3 Editor.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.klinksoftware.dim3.editor</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>dim3 Editor</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>v3.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>3.0</string>
	<key>CSResourcesFileMapped</key>
	<true/>
</dict>
</plist>
